@charset "utf-8";
:root{
  --color-p:#044b74;
  --color-h1:#032d46;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2%;
}
.clear{clear: both;}
/**/
body {
  background: url(../assets/business-2717066_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-attachment: fixed;
}
section.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container {
  background-color: #c9ccd39d;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 500px;
  border-radius: 50px;
  
}

/*Home*/
section .container .cadaster-login {
  text-align: center;
  padding: 40px 5%;
}
section .container .cadaster-login h1 {
  color: var(--color-h1);
  font-size: 40px;
  padding: 30px 0;
}
section .container .cadaster-login p {
  text-align: justify;
  font-size: 16px;
  color: var(--color-p);
}
section .container .cadaster-login button {
  display: block;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  min-width: 120px;
  margin-top: 50px;
  padding: 15px 15px;
  border-radius: 50px;
  background-color: #021e2e;
  color: #def3f5;
  border: 0;
}
/**/
/*Cadastro*/
section .container .box-cadaster {
  text-align: center;
  padding: 15px 5%;
  display: none;
}
section .container .box-cadaster h2{
  font-size: 34px;
  padding: 30px;
  color: var(--color-h1) ;
}
section .container .box-cadaster label{
  display: block;
}
section .container .box-cadaster input{
  width: 55%;
  padding: 12px 5px;
  box-shadow: 0;
  background-color: rgba(206, 251, 255, 0.233);
  font-size: 16px;
  margin: 12px ;
  border: 0;
  border-bottom: 1px solid #4C7385;
  outline: 0;
  border-radius: 5px;
}
section .container .box-cadaster input:hover{
  border-bottom: 1px solid rgb(22, 56, 71);
  background-color: rgba(217, 245, 248, 0.603);
}
section .container .box-cadaster button{
  display: block;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  min-width: 120px;
  margin-top: 25px;
  padding: 15px 15px;
  border-radius: 50px;
  background-color: var(--color-h1);
  color: #BEF3F8;
  border: 0;
}
/**/
section .container .box-login {
  text-align: center;
  padding: 15px 5%;
  display: none;
}
section .container .box-login .icon-user {
  padding: 30px;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  background-color: rgba(128, 128, 128, 0.486);
  border-radius: 100%;
}
section .container .box-login i {
  padding: 8px 0;
  font-size: 100px;
}
section .container .box-login h2{
  font-size: 34px;
  padding: 15px;
  color:var(--color-h1) ;
}
section .container .box-login label{
  display: block;
}
section .container .box-login input{
  width: 55%;
  padding: 12px 5px;
  box-shadow: 0;
  background-color: rgba(206, 251, 255, 0.233);
  font-size: 16px;
  margin: 12px ;
  border: 0;
  border-bottom: 1px solid #4C7385;
  outline: 0;
  border-radius: 5px;
}
section .container .box-login span{
  display: block;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  min-width: 120px;
  margin-top: 25px;
  padding: 15px 15px;
  border-radius: 50px;
  background-color: var(--color-h1);
  color: #BEF3F8;
}
/**/
section.cont-user{
  display: none;
}
section.cont-user .boxContent{
  display: flex;
  flex-direction: column;
  width: 78%;
}
section.cont-user .center{
  max-width: 1200px;
  display: flex;
}
section.cont-user .dadoPerson{
  display: flex;
  background-color: rgba(206, 251, 255, 0.829);
  width: 100%;
  margin: 10px 0;
  height: 155px;
  border-radius: 50px;
}
section.cont-user .photoPerfil{
  background-color: gray;
  width: 100px;
  height: 100px;
  border-radius: 50% ;
  margin: 23px 0 23px 10px;
}
section.cont-user .boxInformation {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
section.cont-user #nameUser{
  font-size: 30px ;
  color: rgb(33, 54, 63);  
}
.information {
  width: 70%;
  background-color: rgba(167, 167, 167, 0.692);
  border-radius: 30px;
  height: 25px;
  margin: 2px 0;
}
section.cont-user .moreInformation{
  background-color: rgba(206, 251, 255, 0.829);
  width: 22%;
  margin: 10px 8px;
  height: 650px;
  border-radius: 50px;
}
section.cont-user .moreInformation p{
  color: rgb(33, 54, 63);
  padding: 25px 4%;
}
section.cont-user .mainBox{
  background-color: rgba(206, 251, 255, 0.829);
  width: 100%;
  margin: 10px 0;
  height: 472px;
  border-radius: 50px;
}
section.cont-user .mainBox .middle{
  margin: 70px 0;
}
section.cont-user .mainBox .information{
  margin: 10px auto;
}
/*Footer*/
footer {
  margin-top: 5%;
  text-align: center;
}
footer p{
  color: rgb(121, 0, 111);
  font-weight: bold;
}
footer a{
  color: rgb(6, 253, 26);
  text-decoration: underline;
}